<div class="row" style="margin-top:15px;">
    <div class="col-md-6">
        <div class="col-md-4 form-inline"><label for="apellido">Apellidos:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.lastName" /></div>
        <div class="col-md-4 form-inline"><label for="name">Name:</label></div><div class="col-md-8"><input id="name" class="form-control" type="text" ng-model="person.firstName" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Sexo:</label></div>
        <div class="col-md-8">
            <label>
                <input type="radio" ng-model="person.gender" value="1">
                Male
            </label>
            <label>
                <input type="radio" ng-model="person.gender" value="2">
                Female
            </label>
        </div>
        <div class="col-md-4 form-inline"><label for="apellido">Fecha de Nacimiento:</label></div><div class="col-md-8"><mb-date-picker ng-model="person.birthDate" max-date="12/17/2015" year-range="1915:2015" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Celular: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="celular.value" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Telefono:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="phone.value" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Email:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="email.value" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Supo de nosotros?</label></div><div class="col-md-8"><select class="form-control" ng-options="source for source in customerSources" ng-model="person.source" /></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4 form-inline"><label for="apellido">Direccion:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="address.address1" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Direccion1: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="address.address2" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Ciudad: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="address.city" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Estado: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="address.state" /></div>
        <div class="col-md-4 form-inline"><label for="apellido">Zip: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="address.zipCode" /></div>
    </div>
</div>
<hr/>
<div style="text-align:center;">
    <button id="btnCreate" type="button" class="btn btn-default" ng-click="saveCustomer();">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>{{person.id?"Save":"Create"}}
    </button>
</div>
