<div><a href="/customer/new">Nuevo Cliente</a></div>
<div>
    <div class="row" ng-repeat="customer in customerList">
        <div class="col-md-1"><a href="/customer/edit/{{customer.Id}}">Edit</a></div>
        <div class="col-md-3">{{customer.LastName + customer.Name}}</div>
        <div class="col-md-3">{{customer.AddressLine1 + customer.AddresLine2}}</div>
        <div class="col-md-2">{{customer.City}}</div>
        <div class="col-md-1">{{customer.State}}</div>
        <div class="col-md-1">{{customer.Zip}}</div>
    </div>
</div>
