<div class="col-md-6">
    <div class="col-md-4 form-inline"><label for="apellido">Apellidos:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.LastName" /></div>
    <div class="col-md-4 form-inline"><label for="name">Name:</label></div><div class="col-md-8"><input id="name" class="form-control" type="text" ng-model="person.FirstName" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Sexo:</label></div>
    <div class="col-md-8">
        <label>
            <input type="radio" ng-model="person.Gender" value="male">
            Male
        </label>
        <label>
            <input type="radio" ng-model="person.Gender" value="female">
            Female
        </label>
    </div>
    <div class="col-md-4 form-inline"><label for="apellido">Fecha de Nacimiento:</label></div><div class="col-md-8"><mb-date-picker ng-model="person.BirthDate" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Celular: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Celular.Value" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Telefono:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Phone.Value" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Email:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.email" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Donde supo d nosotros?</label></div><div class="col-md-8"><select class="form-control" ng-options="source for source in CustomerSources" ng-model="person.Source" /></div>
</div>
<div class="col-md-6">
    <div class="col-md-4 form-inline"><label for="apellido">Direccion:</label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Address.Address1" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Direccion1: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Address.Address2" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Ciudad: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Address.City" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Estado: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Address.State" /></div>
    <div class="col-md-4 form-inline"><label for="apellido">Zip: </label></div><div class="col-md-8"><input class="form-control" type="text" ng-model="person.Address.State" /></div>
</div>