<div><div class="col-md-2">Apellidos:</div><input type="text" ng-model="person.LastName" required/></div>
<div><div class="col-md-2">Nombre:</div><input type="text" ng-model="person.FirstName" /></div>
<div><div class="col-md-2">Sexo:</div><input type="text" ng-model="person.Gender" /></div>
<div><div class="col-md-2">Fecha de Nacimiento:</div><input type="text" ng-model="person.BirthDate" /></div>
<div><div class="col-md-2">Telefono:</div><input type="text" ng-model="person.phone" /></div>
<div><div class="col-md-2">Email:</div><input type="text" ng-model="person.email" /></div>
<div><div class="col-md-2">Donde supo de nosotros?:</div><select ng-options="source in CustomerSources" ng-model="person.Source" /></div>