<div>
    <div  class="table table-bordered" style="overflow:auto;">
        <div class="col-md-12" style="background-color:#dbdbdb;min-height:20px;color:#5c9aef;">
            <div class="col-md-1"></div>
           <!-- <div class="col-md-1"><a href="service/0?customer={{personId}}" title="Add new Service..."><span class="glyphicon  glyphicon-plus" aria-hidden="true" /><span class="glyphicon glyphicon-folder-close" aria-hidden="true" /></a></div>-->
            <div class="col-md-3">Service</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-2">Forms</div>
            <div class="col-md-1">Paid</div>
            <div class="col-md-2">Created</div>
            <div class="col-md-2">Finished</div>
        </div>
        <div ng-repeat="pService in personServiceList">
            <div ng-hide="editing" class="col-md-12" style="background-color:antiquewhite;margin-bottom:1px;color:{{pService.finished?'ihnerit':'#433ce5'}};">
                <div class="col-md-1" style="padding:0;">
                    <a href="" ng-hide="pService.finished" ng-click="editing=true;" title="Edit Service"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a href="" ng-hide="pService.finished" ng-click="paying==true?paying=false:paying=true;" title="Pay"><span class=" glyphicon glyphicon-usd " aria-hidden="true"></span></a>
                    <a href="" ng-hide="pService.finished"  ng-click="Close($index);" title="Complete Service"><span class=" glyphicon glyphicon-folder-close" aria-hidden="true"></span></a>
                    <a href="" ng-hide="pService.finished"  ng-click="Delete($index);" title="Delete Service"><span class=" glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </div>
                <div class="col-md-3">{{pService.serviceDesc}}</div>
                <div class="col-md-1">{{pService.price| currency:"$":2}}</div>
                <div class="col-md-2">{{pService.form}}</div>
                <div ng-hide="paying" class="col-md-1">{{pService.paidAmount| currency:"$":2}}</div>
                <div ng-show="paying" class="col-md-1" style="padding:2px 2px 0 0;">
                    <div class="input-group">
                        <input class="pservice-edit form-control" type="text" ng-model="pService.newPayment">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="paying=false;SavePayment($index);" style="padding:2px 4px;">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">{{pService.created | date:'MM/dd/yyyy h:mma'}}</div>
                <div class="col-md-2">{{pService.finished| date:'MM/dd/yyyy h:mma'}}</div>
            </div>
            <div ng-show="editing" class="col-md-12">
                <div class=" col-md-1">
                    <a href="" ng-click="Save($index);editing=false;"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span></a>
                    <a href="" ng-click="editing=false;" title="Cancel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>
                <div class="col-md-3">{{pService.serviceDesc}}</div>
                <div class="col-md-1"><input class="pservice-edit form-control" type="text" ng-model="pService.price" /></div>
                <div class="col-md-2">{{pService.form}}</div>
                <div class="col-md-1">{{pService.paidAmount| currency:"$":2}}</div>
                <div class="col-md-2">{{pService.created | date:'MM/dd/yyyy h:mma'}}</div>
                <div class="col-md-2">{{pService.finished| date:'MM/dd/yyyy h:mma'}}</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-1">
                <a href="" ng-click="Add();" title="Add Service"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
            </div>
            <div class="col-md-3"><select class="pservice-edit form-control" ng-model="newservice.Id" ng-change="setPrice()" ng-options=" s.id as s.serviceDesc for s in services" /></div>
            <div class="col-md-1"><input class="pservice-edit form-control" type="text" ng-model="newservice.Price" /></div>
            <div class="col-md-2"></div>
            <div class="col-md-1"><input class="pservice-edit form-control" type="text" ng-model="newservice.Paid" /></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
     </div>
</div>

