<div class="col-md-12" style="min-height:200px;background-image: url(../../Images/libert222y1.jpg )" >
    <!--<div class="col-md 6 logoleters">TESTING ENVIRONMENT</div>-->
    <div class="col-md-2">
        <div style="width:130px;background-color:white;"><img src="../../Images/VIS_LOGO_120X120_NOLETRA222.png" /></div>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-3 right-header-div">
        <span>Llamenos al {{settings.getContactPhone()}}</span><a href="" ng-click="change()">Change</a><a href="" ng-click="refresh()">Refresh</a>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group bottom-right-align">
                <input type="text" class="form-control noborderright" placeholder="Texto a buscar" ng-model="pepe"><button class="btn btn-primary noborderleft"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
            </div>
        </form>
        
    </div>
    <!--<div class="col-md 6 logoleters">VIRTUAL INMIGRATION SERVICES</div>-->
</div>