<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/011007" style="width:200px;" /></div>
<!--<div class="col-md-6"><img src="http://dadecontent.azurewebsites.net/api/product/imageserver/L05687" style="width:200px;" /></div>-->
<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/T00285" style="width:200px;" /></div>
<!--<div class="col-md-6"><img src="http://dadecontent.azurewebsites.net/api/product/imageserver/L05685?width=200" style="width:200px;" /></div>-->
<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/008086" style="width:200px;" /></div>
<!--<div class="col-md-6"><img src="http://dadecontent.azurewebsites.net/api/product/imageserver/008086?width=200" style="width:200px;" /></div>-->
<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/011007" style="width:200px;" /></div>
<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/T00285" style="width:200px;" /></div>
<div class="col-md-6"><img ng-src="http://dadecontent.azurewebsites.net/api/imageserver/product/008086" style="width:200px;" /></div>



