<div class="row">
    <div class="col-md-4">
        <div class="box-strongs">
            <h3>Con nosotros...</h3>
            <ul class="se">
                <li><h4>No necesita desplazarse</h4></li>
                <li><h4>No necesita cita</h4></li>
                <li><h4>Estamos abiertos 24/7</h4></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="box-services">
            <div class="title-services">
                <center>
                    <span>
                        Servicios Online
                        <a href="">Como funciona?</a>
                    </span>
                </center>
            </div>

            <ul class="list-services">
                <li><a href=""><img src="" />Permiso de Trabajo</a></li>
                <li><a href=""><img src="" />Residencia</a></li>
                <li><a href=""><img src="" />Ciudadania</a></li>
            </ul>
        </div>
    </div>
</div>
<div><p><a href="/form">Go to form{{settings.getContactPhone()}}</a></p></div>
<div><p><a href="" ng-click="changephone()">Image</a></p></div>
<div upload-file-list></div>

